{% extends "base.html" %}
{% block content %}
<h2 class="center-align heading">{{ favourite.name }}</h2>
<div class="row">
  <!-- favourite recipe details -->
  <div class="col s10 offset-s1">
    <ul class="collapsible page-text">
      <li>
        <div class="collapsible-header"><i class="fas fa-utensils"></i>{{ favourite.meal_type_name }}</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fas fa-clock"></i>{{ favourite.time }}</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fas fa-clipboard-list"></i>Ingredients</div>
        <div class="collapsible-body"><span>{{ favourite.ingredients }}</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fas fa-book-open"></i>Method</div>
        <div class="collapsible-body"><span>{{ favourite.method }}</span></div>
      </li>

    </ul>
  </div>
</div>
{% endblock %}