{% extends "base.html" %}
{% block content %}
<section class="main-image">
		
    <div class="row" id="logo-container">
      <div class="col s12" id="logo">
                <img src="static/images/hero-img.jpg">
      </div>
      
      <div id="bubble" class="bubble"><span>
        <p><h3>Welcome to</h3>
                <h2>My Indian Recipebook</h2>
                </p>
            </span>
      </div>
            <div id="button">
                <button type="button" class="btn btn-primary login">
                    Log In/Register
                </button>
            </div>
    </div>
  </section>

{% endblock %}