{% extends "base.html" %}
{% block content %}
<section class="main-image">
		
    <div class="row" id="logo-container">
      <div class="col s12" id="logo">
                <img src="static/images/hero-img.jpg">
      </div>
      
      <div id="bubble" class="bubble"><span>
        <p><h3>Welcome to</h3>
                <h2>My Indian Recipebook</h2>
                </p>
            </span>
      </div>
    </div>
  </section>
  <section>
    <div class="row about">
        <div class="col s7 inline-block">
            <div class="about-text">
    <h2>My Indian Recipes</h2>
    <p>A place to share all your spicy dishes! Add and share your own recipes or find delicious recipes from fellow chefs.</p>
         </div>
         </div>
         
    </div>
</section>

<div class="row">
  {% for vote in votes %}
    <div class="col s12 center-align">
      <i class="fas fa-trophy"></i>
      {{vote}}
      
    </div>
  {% endfor %}
</div>

{% endblock %}