{% extends "base.html" %}
{% block content %}
    
    <h4 class="center-align heading">Welcome to your Profile, {{ username }}.</h4>

    <h2 class="center-align heading">My Recipes</h2>
    <!-- recipes created by user -->
    <div class="row">
      {% for recipe in my_recipes %}
      <div class="col s12 m6 l4 inline-block page-text">
        <div class="card">
          <div class="card-image images">
            <img src="{{ recipe.image }}">
            <a class="btn-floating halfway-fab waves-effect waves-light red"
              href="{{ url_for('recipecard', recipe=recipe._id) }}"><i class="fas fa-eye"></i></a>
          </div>
          <div class="card-content center-align">
            <span class="card-title">{{ recipe.name }} </span>
            <a href="{{ url_for ('edit_recipe',recipe=recipe._id) }}" class="btn orange-btn">Edit</a>
            <a href="{{ url_for ('delete_recipe',recipe=recipe._id) }}" class="btn grey-btn">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <h2 class="center-align heading">My Favourites</h2>
    <div class="row">
      <!-- recipes added to favourites by user -->
      {% for favourite in favourites %}
      <div class="col s12 m6 l4 inline-block page-text">
        <div class="card">
          <div class="card-image images">
            <img src="{{ favourite.image }}">
            <a class="btn-floating halfway-fab waves-effect waves-light"
              href="{{ url_for('favourite_recipecard', favourite=favourite._id) }}"><i class="fas fa-eye"></i></a>
          </div>
          <div class="card-content center-align">
            <span class="card-title">{{ favourite.name }} </span>
            <div>
              <a href="{{ url_for ('delete_favourite',favourite=favourite._id) }}" class="btn-small orange-btn">Remove
                from My Favourites</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}