{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Welcome to your Profile, {{ username }}.</h3>

    <h4 class = "center-align">My Recipes</h4>
    
    
        <div class="row">
          {% for recipe in my_recipes %}
            <div class="col s12 m6 l4 inline-block">
              <div class="card">
                <div class="card-image">
                  <img src="">
                  <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('recipecard', recipe=recipe._id) }}"><i class="fas fa-eye"></i></a>
                </div>
                <div class="card-content center-align">
                  <span class="card-title">{{ recipe.name }} </span>
                  <a href="{{ url_for ('edit_recipe',recipe=recipe._id) }}" class="btn orange">Edit</a>
                  <a href="{{ url_for ('delete_recipe',recipe=recipe._id) }}" class="btn red">Delete</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>  
        
          <h4 class = "center-align">My Favourites</h4>
          <div class="row">
            {% for favourite in favourites %}
              <div class="col s12 m6 l4 inline-block">
                <div class="card">
                  <div class="card-image">
                    <img src="">
                    <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ url_for('favourite_recipecard', favourite=favourite._id) }}"><i class="fas fa-eye"></i></a>
                  </div>
                  <div class="card-content center-align">
                    <span class="card-title">{{ favourite.name }} </span>
                    <div>
                      <a href="{{ url_for ('delete_favourite',favourite=favourite._id) }}" class="btn red">Remove from My Favourites</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>  

        
    
    



{% endblock %}