{% extends "base.html" %}
{% block content %}
<h3 class="center-align">{{ recipe.name }}</h3>
<div class="center-align">
  <form method="POST" action = "{{ url_for('add_favourites', recipe=recipe._id) }}">
  <button type=submit>Add to favourites</button>
  </form>
  </div>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-utensils"></i>{{ recipe.meal_type_name }}</div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-clipboard-list"></i>Ingredients</div>
      <div class="collapsible-body"><span>{{ recipe.ingredients }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-book-open"></i>Method</div>
      {% for item in method %}
      <div class="collapsible-body"><span>{{ item }}</span></div>
      {% endfor %}
    </li>
    
  </ul>
  <div>
    <form action="#">
    <p>
      <label>
        <input class="with-gap" name="group3" type="radio" checked />
        <span>Red</span>
      </label>
    </p>
    <p>
      <label>
        <input class="with-gap" name="group3" type="radio" checked />
        <span>Red</span>
      </label>
    </p>
  </form>
  </div>
{% endblock %}